table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
.text-success{color:#28a745;}
.text-danger{color:#dc3545;}
.text-center{text-align: center;}
.title-table {
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.parrent-table{
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    grid-auto-flow: column;
}

.parrent-table div{ padding: 20px;}
.parrent-table .to_do{background: #eee;}
.parrent-table .doing{background: #ddd;}
.parrent-table .done{background: #777;}
.wrapper-item{border: 1px solid #9A9A9A;margin: 10px;padding: 5px}
.first-bg{background: rgba(205, 92, 92,0.3);}
.second-bg{background: rgba(173, 255, 47,0.3);}
.third-bg{background: rgba(123, 104, 238,0.3);}
.fourth-bg{background: rgba(255, 215, 0,0.3);}
.first-cl{color: rgb(205, 92, 92);}
.second-cl{color: rgb(173, 255, 47);}
[id*=".errors"] {
color:#dc3545;
}
